<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bygn.login">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LogIn">
        <activity android:name=".ScoreActivity" />
        <activity android:name=".QuestionForStudent"
            android:label="Question"/>
        <activity android:name=".QuizListStudent"
            android:label="Quizes"/>
        <activity android:name=".FirstScreen" />
        <activity android:name=".SubjectListStudent"
            android:label="Subjects"/>
        <activity android:name=".RegisterStudent" />
        <activity android:name=".LoginStudent" />
        <activity android:name=".QuizListToQuiz"
            android:label="Question List"/>
        <activity android:name=".QuizList"
            android:label="Quizes"/>
        <activity
            android:name=".QuestionsClick"
            android:theme="@style/Theme.LogIn.NoActionBar" />
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.LogIn.NoActionBar" />
        <activity
            android:name=".Register"
            android:theme="@style/Login"
            android:label="@string/app_name"/>
        <activity
            android:name=".Login"
            android:theme="@style/Login"
            android:label="@string/app_name"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>